body {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color:    #115bbf  ;
  color: #333;
}

header {
  width: 100%;
  height: 535px;
  background: #003399;
  background: -webkit-linear-gradient(to right, #00000075, #0a0a0aa9), url(../resources/Images/fondoachul.jpg);
  background: linear-gradient(to right, #1260f075, #030359fb), url(../resources/Images/fondoachul.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

nav{
  text-align: right;
  padding: 30px 50px 0 0;
}

nav > a{
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300px;
  text-decoration: none;
  margin-right: 20px;
}

nav > a:hover{
  text-decoration: underline;
}

nav {
  background-color: #000000;
  padding: 18px 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
}

header .textos-header{
  display: flex;
  height: 480px;
  width: 100%;    
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1{
  font-size: 90px;
  color:#fff;
}

.textos-header h2{
  font-size: 50px;
  font-weight: 200;
  color:#fff;
}

.section {
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1240px;
}

img {
    max-width: 80%;
    height: 195px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h2 {
    color: #0a1169;
    border-bottom: 2px solid #0a1169;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: justify;
}

.proyectos-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.proyecto {
    width: 48%;
}

.proyecto img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.tecnologias-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tecnologia {
    width: 48%;
}

.tecnologia img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h5{
  text-align: center;
}

.tecno {
  margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1240px;
}

.tecno-item {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 360px;
    max-width: 1500px;
}

.tecno-item p {
  margin-bottom: 0;
}

.image-container {
  text-align: center;
}

.image-container1 {
  text-align: left;
  
}

.image-container img {
  
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}

footer {
  background-color: #000;
  height: 34px;
  font-size: 25px;
  color: #fff;
  padding: 45px;
  text-align: center;
}